body {
  background-color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, p {
  margin: 0px;
}

.Yaap2-header {
  background-color: #252A3A;
  color: #1B98F8;
  margin-bottom: 20px;
  box-shadow: 0px 3px 12px #4B7197;
}

.Yaap2-header h1 {
  padding: 20px;
  text-transform: uppercase;
  text-align: center;
}

.async {
  width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  text-align: center;
  min-height: 30px;
}

.async .async-error {
  color: #EE5656;
  font-weight: bold;
}

